@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 100px;
  width: 100%; }

.header_flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center; }

.header_left,
.header_right {
  display: flex;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-decoration: none;
  margin-right: 37px; }

.header_form {
  display: flex; }

.logo_img {
  margin-right: 13px; }

.logo_d {
  color: #f16d7f;
  font-weight: 700; }

.button {
  height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  padding-right: 12px;
  line-height: 38px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #f16d7f; }

.button .fa-caret-down {
  margin-left: 8px; }

.button:hover {
  background-color: #ffffff;
  color: #f16d7f; }

.img_cart_link {
  position: relative;
  height: 42px;
  display: flex;
  align-items: center; }
  .img_cart_link__quantity {
    display: block;
    height: 19px;
    background-color: #f16d7f;
    border-radius: 10px;
    position: relative;
    left: -10px;
    top: -12px;
    color: white;
    font-size: 13px;
    padding-left: 6px;
    padding-right: 8px;
    padding-top: 2px; }

.img_cart_link:hover .cart-box {
  display: flex; }

.cart-box {
  position: absolute;
  top: 43px;
  left: -7px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 230px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 16px 6px;
  text-transform: uppercase; }
  .cart-box__button {
    width: 225px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700; }
    .cart-box__button_pink {
      background-color: white;
      color: #f16d7f; }
      .cart-box__button_pink:hover {
        background-color: #f16d7f;
        color: white; }

.clear_item {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ededed;
  color: #222222;
  font-size: 16px;
  font-weight: 700; }

.cart-box-item {
  width: 100%;
  /*border-bottom: 1px solid #ededed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-top: 16px; }
  .cart-box-item__text {
    margin-left: 14px;
    width: 80%; }
    .cart-box-item__text_name {
      text-decoration: none;
      color: #222222;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 10px; }
    .cart-box-item__text_star {
      color: #e4af48;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 12px;
      margin-top: 10px; }
    .cart-box-item__text_price {
      color: #f16d7f;
      font-size: 12px;
      font-weight: 400; }
      .cart-box-item__text_price_sub {
        display: none; }
  .cart-box-item__cancel .fa-times-circle {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
    .cart-box-item__cancel .fa-times-circle:hover {
      color: #f16d7f; }
  .cart-box-item__total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 35px; }

.browse {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background: -webkit-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -moz-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -o-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: -ms-linear-gradient(-90deg, #f9f9f9 0%, #f5f5f5 100%);
  background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  width: 87px;
  height: 38px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
  position: relative; }

.browse_input,
.browse_button {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 280px;
  height: 38px;
  border-left: none; }

.browse_input {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 16px; }

.browse .fa-caret-down {
  margin-left: 8px;
  opacity: 0; }

.browse:hover .fa-caret-down {
  opacity: 1; }

.browse:hover .mega_box-browse {
  display: flex; }

.browse_button {
  width: 37px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-align: center; }

/*================================================================ */
/*===========================╨Ь╨╡╨╜╤О ╤Б╨░╨╣╤В╨░=========================== */
.nav_main {
  background-color: #ffffff; }

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center; }

.menu_link {
  padding: 20px 15px 17px;
  display: block;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }

.menu_link_active {
  border-bottom: 3px solid #f16d7f;
  padding-bottom: 14px; }

.menu_link:hover {
  color: #f16d7f; }

.mega_box,
.mega_box-browse {
  position: absolute;
  top: 54px;
  left: -15px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ececec;
  padding: 20px;
  display: none; }

.mega_box-browse {
  z-index: 3;
  top: 36px;
  left: 0;
  flex-direction: column;
  align-items: flex-start; }
  .mega_box-browse .mega_flex {
    text-align: left;
    margin-right: 0; }

.menu_list {
  position: relative; }

.menu_list:hover .mega_box {
  display: flex; }

.mega_flex {
  width: 235px;
  margin-right: 46px; }

.mega_flex:last-of-type {
  margin-right: 0; }

.mega_ul {
  list-style-type: none; }

.mega_link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none; }

.mega_link:hover {
  color: #f16d7f; }

.mega_h3 {
  border-bottom: 1px solid #e8e8e8;
  color: #232323;
  font-size: 14px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px; }

/*================================================================ */
/*========================╨С╨░╨╜╨╜╨╡╤А ╤Б ╨╝╤Г╨╢╨╕╨║╨╛╨╝======================== */
.banner {
  background-color: #e8e8e8;
  height: 614px; }

.banner_flex {
  height: 100%;
  background: url(../img/banner_back_1.jpg) -195px -51px; }

.banner_h3 {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  line-height: 45px; }

.banner_h4 {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  line-height: 32px;
  margin-top: 20px; }

.banner_text_1 {
  margin-top: 224px;
  float: left;
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
  text-decoration: none; }
  .banner_text_1:hover {
    transform: scale(1.07, 1.07); }

/*================================================================ */
/*============================Block_one=========================== */
.block_one {
  height: 823px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 100px; }

.b1_elem_big {
  height: 542px;
  width: 560px;
  align-self: flex-start; }
  .b1_elem_big:hover {
    transform: scale(1.07, 1.07); }

.b1_elem_small {
  height: 261px;
  width: 560px; }
  .b1_elem_small:hover {
    transform: scale(1.07, 1.07); }

.label_elem {
  float: left;
  padding: 20px 16px;
  margin-top: 26px;
  background-color: #ffffff;
  text-align: center; }

.label_elem_h6 {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  line-height: 16px;
  margin-bottom: 15px;
  text-transform: uppercase; }

.label_elem_h5 {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  text-align: left;
  line-height: 23px;
  text-transform: uppercase; }

/*================================================================ */
/*============================Block_two=========================== */
.block_two {
  margin-top: 100px; }

.head_block_two_text {
  margin-bottom: 60px; }

.head_block_two_text_h3 {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 16px; }

.head_block_two_text_p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center; }

.block_two_content {
  height: 770px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }

.img_cart_white {
  margin-right: 15px; }

.txt_b2e {
  padding-top: 20px;
  padding-left: 14px; }

.label_b2e {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 17px;
  line-height: 13px;
  text-decoration: none; }

.price_b2e {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px; }

.clr_up_b2 {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 115px; }

.clr_up_b2 .fa-long-arrow-right {
  margin-left: 9px; }

/*================================================================ */
/*============================Banner_two========================== */
.banner_2 {
  height: 529px;
  margin-bottom: 100px;
  display: flex; }

.img_banner_2 {
  width: 767px;
  height: 529px; }

.txt_banner_2 {
  width: 373px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.img_banner_2_label {
  float: left;
  padding-left: 40px;
  text-align: left; }

.img_banner_2_label_h2 {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  margin-top: 146px;
  line-height: 40px;
  margin-bottom: 15px; }

.img_banner_2_label_h2_pink {
  color: #f16d7f; }

.img_banner_2_label_h3 {
  color: #ffffff;
  font-size: 32.17px;
  font-weight: 700;
  text-align: left;
  line-height: 25px; }

.txt_banner_2_element {
  width: 300px;
  height: 105px;
  display: flex; }

.txt_banner_2_block {
  margin-left: 33px; }

.txt_banner_2_element_img {
  float: left;
  align-self: flex-start; }

.txt_banner_2_element_h5 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 7px; }

.txt_banner_2_element_p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left; }

/*================================================================ */
/*============================Block_three========================= */
.slider {
  height: 438px;
  margin-bottom: 100px;
  background-size: cover;
  background: url(../img/slider.jpg) no-repeat center; }

.block_three {
  height: 100%;
  display: flex; }

.block_3_left {
  width: 570px;
  height: 100%;
  padding-top: 110px; }

.block_3_right {
  width: 569px;
  height: 100%;
  border-left: 1px solid #e6e6e6; }

.letter {
  display: flex;
  flex-wrap: wrap; }

.letter_foto {
  align-self: flex-start; }

.letter_text {
  width: 386px;
  margin-left: 30px; }

.letter_p {
  color: rgba(34, 34, 36, 0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  margin-bottom: 18px; }

.letter_h5 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left; }

.letter_h6 {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: left; }

.dots {
  display: flex;
  width: 140px;
  justify-content: space-between; }

.dot {
  background-color: #d6d6d6;
  width: 38px;
  height: 4px;
  margin-top: 40px; }

.dot_active {
  background-color: #f16d7f; }

.block_3_right {
  display: flex;
  align-items: center;
  justify-content: center; }

.sub_h3 {
  color: rgba(34, 34, 36, 0.67);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 10px; }

.sub_h4 {
  color: rgba(34, 34, 36, 0.67);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 35px; }

.subscribe {
  text-align: center; }

.sub_form {
  display: flex; }

.email_sub {
  background-color: #e1e1e1;
  width: 252px;
  height: 50px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.confirm_sub {
  background-color: #f16d7f;
  width: 104px;
  height: 50px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  text-align: center; }

/*================================================================ */
/*============================Pre-footer========================== */
.pre_footer_main {
  display: flex;
  padding-right: 43px;
  justify-content: space-between; }

.pre_footer_element_big {
  width: 428px;
  padding-bottom: 10px; }

.pre_footer_h4 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left; }

.pre_footer_p {
  margin-top: 29px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.pre_footer_links {
  margin-top: 45px;
  list-style-type: none; }

.pre_footer_link {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 43px;
  display: block; }

.pre_footer_link:hover {
  color: #f16d7f; }

/*================================================================ */
/*==============================Footer============================ */
.footer {
  margin-top: 90px;
  height: 80px;
  background-color: #e6e6e6; }

.footer_main {
  height: 100%;
  display: flex;
  align-items: center; }

.footer_left {
  width: 570px; }

.footer_p {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px; }

.footer_right {
  width: 570px; }

.social_block {
  display: flex;
  float: right;
  justify-content: space-between;
  width: 200px; }

.social {
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  text-align: center;
  line-height: 32px;
  color: #7a7a7a; }

.social:hover {
  background-color: #f16d7f;
  color: #ffffff; }

.social:active {
  color: #7a7a7a;
  background-color: #ffffff;
  opacity: 0.1; }

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.content_full_box {
  width: 840px;
  margin-bottom: 110px; }

.sub_menu {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page_name {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.bread_crumbs {
  list-style-type: none; }

.bread_crumbs li {
  float: left; }

.bread_crumbs_border {
  color: #636363; }

.bread_crumbs_element {
  color: #636363;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none; }
  .bread_crumbs_element:hover {
    color: #f16d7f; }

.bread_crumbs_element_active {
  color: #f16d7f;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none; }

.menu_product {
  list-style-type: none;
  width: 250px;
  align-self: stretch; }

.name_product_list {
  padding-left: 11px;
  padding-right: 6px;
  display: block;
  height: 37px;
  border-left: 5px solid #f16d7f;
  color: #636363;
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  margin-top: 20px; }
  .name_product_list:hover {
    color: #f16d7f; }

.name_product_list::-webkit-details-marker {
  display: none; }

.name_product_list::after {
  float: right;
  font-family: "FontAwesome", serif;
  content: ""; }

details[open] > .name_product_list::after {
  font-family: "FontAwesome", serif;
  content: ""; }

details[open] > .name_product_list {
  color: #f16d7f; }

.menu_product_list {
  list-style-type: none;
  padding-left: 22px;
  padding-top: 8px; }

.menu_product_link {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 33px; }

.name_content_product {
  width: 280px;
  margin-bottom: 25px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.content_product {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.box_content_product_trending {
  width: 176px;
  display: flex;
  flex-wrap: wrap; }

.box_content_product_trending_elem,
.box_content_product_trending_elem a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  user-select: none; }
  .box_content_product_trending_elem:hover,
  .box_content_product_trending_elem a:hover {
    color: #f16d7f; }

.box_content_product_trending_border {
  margin: 0 10px;
  color: #dfdfdf; }

.size_checkbox {
  width: 13px;
  height: 13px; }

.size_label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 9px;
  user-select: none; }
  .size_label:hover {
    color: #f16d7f; }

.box_content_product_element {
  display: flex;
  align-items: center;
  width: 70px; }

.box_content_product {
  display: flex;
  flex-wrap: wrap; }

input[type=range] {
  -webkit-appearance: none;
  width: 100%; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #f0f0f0;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #f16d7f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f0f0f0; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #f0f0f0;
  border-radius: 1.3px;
  border: 0.2px solid #010101; }

input[type=range]::-moz-range-thumb {
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 3px;
  background: #f16d7f;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animation: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #f0f0f0;
  border: 0.2px solid #010101;
  border-radius: 2.6px; }

input[type=range]::-ms-fill-upper {
  background: #f0f0f0;
  border: 0.2px solid #010101;
  border-radius: 2.6px; }

input[type=range]::-ms-thumb {
  border: 1px solid #f16d7f;
  height: 14px;
  width: 14px;
  border-radius: 3px;
  background: #f16d7f;
  cursor: pointer; }

input[type=range]:focus::-ms-fill-lower {
  background: #f0f0f0; }

input[type=range]:focus::-ms-fill-upper {
  background: #f0f0f0; }

.price_range_product_value {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; }

.sort {
  display: flex; }

.sort_by,
.sort_number {
  display: flex;
  margin-top: 50px; }

.sort_name {
  height: 30px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 12px;
  padding-right: 8px;
  border-right: none;
  margin-left: 10px; }

.sort select {
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 12px;
  padding-right: 20px; }

.content_product_elements {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 40px; }

.content_product_element {
  width: 263px;
  position: relative;
  margin-bottom: 40px; }

.add-to-cart {
  height: 39px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  line-height: 39px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center; }

.add-to-cart:hover {
  box-shadow: 0 0 5px #ffffff; }

.little_button {
  width: 57px;
  height: 38px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  text-decoration: none; }

.little_button:hover {
  box-shadow: 0 0 5px #ffffff; }

.parent_add {
  position: absolute;
  top: 98px;
  width: 263px;
  justify-content: center;
  flex-wrap: wrap;
  display: none; }

.parent_add_inside {
  width: 263px;
  display: flex;
  justify-content: center; }

.content_product_element:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }

.content_product_element:hover .parent_add {
  display: flex; }

.content_product_element:hover .content_product_element_img {
  filter: brightness(55%); }

.content_product_element_text {
  padding: 20px 15px; }

.content_product_element_img {
  width: 100%; }

.content_product_element_name {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 15px; }

.content_product_element_price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.content_product_element_link {
  text-decoration: none;
  display: block; }

.content_product_elements_bottom {
  display: flex;
  justify-content: space-between; }

.pagination {
  display: flex; }

.pagination ul {
  list-style-type: none; }

.pagination li {
  float: left;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  padding: 16px; }

.pagination li:hover .pagination_link {
  color: #ef5b70; }

.pagination_link {
  text-decoration: none;
  color: #c4c4c4; }

.pagination .active {
  color: #ef5b70; }

.product_button {
  display: inline-block;
  width: 150px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  text-decoration: none;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  text-align: center; }

.product_button:hover {
  background-color: #ef5b70;
  color: #ffffff; }

.block_delivery {
  background-color: #222224;
  height: 341px; }

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.txt_delivery_element {
  width: 310px;
  height: 140px; }

.txt_delivery_block {
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.txt_delivery_element_h5 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.txt_delivery_element_p {
  text-align: center;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px; }

.cart-content__name {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  text-transform: uppercase;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px; }
.cart-content__left {
  padding: 10px; }
.cart-content__right {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style-type: none; }
  .cart-content__right li {
    padding: 10px 10px 20px;
    width: 100px;
    text-align: center; }
.cart-content__control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px; }
  .cart-content__control_button {
    margin-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 50px; }

.cart_button {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  color: #4a4a4a; }
  .cart_button:hover {
    color: #f16d7f;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16); }

.item-cart {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px; }
  .item-cart__card {
    display: flex;
    align-items: center; }
  .item-cart__card-text {
    padding-left: 20px; }
  .item-cart__card-name {
    font-size: 13px;
    color: #222222;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px; }
    .item-cart__card-name:hover {
      color: #f16d7f; }
  .item-cart__card-options {
    font-size: 13px;
    color: #575757;
    font-weight: 500;
    line-height: 20px; }
  .item-cart__card-value {
    font-size: 13px;
    color: #6f6e6e;
    font-weight: 300;
    text-transform: capitalize; }
  .item-cart__right {
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }
  .item-cart__list {
    padding: 10px;
    width: 100px;
    text-align: center; }
    .item-cart__list_action .fa-times-circle {
      font-size: 16px;
      text-decoration: none;
      color: #656565; }
      .item-cart__list_action .fa-times-circle:hover {
        color: #f16d7f; }
    .item-cart__list_input {
      width: 24px;
      height: 30px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      color: #656565; }

.shipping-content {
  height: 268px;
  padding-bottom: 80px;
  display: flex; }
  .shipping-content__head-right {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .shipping-content__head {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
    .shipping-content__head_pink {
      color: #f16d7f; }
    .shipping-content__head_txt {
      color: #000000;
      font-size: 14px;
      font-weight: 300; }
  .shipping-content__item {
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    .shipping-content__item_right {
      height: 65px;
      width: 276px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 17px; }
    .shipping-content__item_right-txt {
      color: #4a4a4a;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .shipping-content__item:last-of-type {
      width: 360px;
      display: flex;
      justify-content: center;
      align-content: center; }
    .shipping-content__item:nth-of-type(2) {
      flex-direction: column;
      height: 185px;
      align-items: flex-start;
      justify-content: space-between; }
  .shipping-content__input {
    padding-left: 15px;
    padding-right: 15px;
    width: 323px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }
  .shipping-content__price {
    margin-left: 20px; }
  .shipping-content__control_button {
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    line-height: 35px; }
    .shipping-content__control_button:hover {
      color: #f16d7f; }
    .shipping-content__control_button_big {
      padding-right: 40px;
      padding-left: 40px;
      height: 50px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 50px; }

.single {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .single__history-txt {
    text-align: center;
    padding-bottom: 43px;
    padding-top: 73px;
    border-bottom: 1px solid #eaeaea; }
  .single__history {
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .single__history_h5-pink {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #f16d7f; }
    .single__history_shape {
      height: 15px;
      display: flex;
      justify-content: center; }
    .single__history_shape-grey {
      width: 42px;
      border-bottom: 1px solid #eaeaea; }
    .single__history_shape-pink {
      width: 62px;
      border-bottom: 3px solid #f16d7f; }
    .single__history_head {
      margin-top: 17px;
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase; }
    .single__history_paragraph {
      margin-top: 67px;
      color: #5e5e5e;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px; }
    .single__history_mat-des {
      margin-top: 28px;
      display: flex;
      justify-content: center; }
      .single__history_mat-des_grey {
        color: #b9b9b9;
        font-size: 14px;
        font-weight: 700;
        margin-right: 44px; }
        .single__history_mat-des_grey:last-of-type {
          margin-right: 0; }
      .single__history_mat-des_black {
        color: #2f2f2f; }
    .single__history_price {
      margin-top: 37px;
      color: #f16d7f;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px; }
  .single__history-choose {
    padding-top: 63px;
    padding-bottom: 123px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .single__history-choose_name {
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase; }
    .single__history-choose select, .single__history-choose input {
      width: 100%;
      height: 35px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      color: #bcbcbc;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 15px; }
    .single__history-choose input {
      width: 123px; }
    .single__history-choose_item {
      width: 145px; }
    .single__history-choose_button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 540px;
      height: 55px;
      margin-top: 28px;
      background: #ffffff url("../img/cart_pink.svg") no-repeat 190px;
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700;
      border: 1px solid #f16d7f; }
      .single__history-choose_button:hover {
        background: #f16d7f url("../img/cart_white.svg") no-repeat 190px;
        background-size: 26px 24px;
        color: #ffffff; }

.you-make {
  outline: 1px solid white;
  text-align: center; }
  .you-make__head {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 119px;
    margin-bottom: 72px; }
  .you-make__box {
    display: flex;
    justify-content: space-between; }
  .you-make__elem {
    margin-bottom: 73px; }
    .you-make__elem:hover {
      transform: scale(1.1, 1.1); }
  .you-make__elem:hover .you-make__img {
    filter: none; }

.checkout-menu {
  margin-bottom: 93px; }
  .checkout-menu__elem {
    border-bottom: 1px solid #e8e8e8; }
  .checkout-menu__item {
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    display: block; }
  .checkout-menu__content {
    height: 395px;
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    margin-bottom: 79px;
    padding-right: 166px;
    padding-left: 35px; }
  .checkout-menu__guest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
  .checkout-menu__radio {
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222222;
    font-size: 12px;
    text-transform: uppercase; }
    .checkout-menu__radio input {
      margin-right: 15px;
      margin-bottom: 10px; }
  .checkout-menu_p {
    color: #b3b2b2;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400; }
    .checkout-menu_p_red {
      color: #ff0d0d; }
  .checkout-menu_h5 {
    color: #222222;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 15px; }
  .checkout-menu_h6 {
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 16px; }
  .checkout-menu__links {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-bottom: 38px; }
    .checkout-menu__links a {
      text-decoration: none;
      color: #b3b2b2;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 15px; }
      .checkout-menu__links a:hover {
        color: #f16d7f; }
  .checkout-menu__button {
    height: 50px;
    width: 180px;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px; }
  .checkout-menu__already {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .checkout-menu__already_form {
      margin-bottom: 22px; }
      .checkout-menu__already_form input {
        width: 350px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        color: #b3b2b2; }
  .checkout-menu__login {
    display: flex;
    align-items: center;
    padding-top: 32px; }
  .checkout-menu__forgot {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 32px; }
    .checkout-menu__forgot:hover {
      color: #f16d7f; }

.star_red {
  color: #ff0d0d;
  font-size: 17px; }

/*# sourceMappingURL=style.css.map */
